USE [EMP001_PROD]
GO
/****** Object:  StoredProcedure [dbo].[pr_imp_ite_off_master]    Script Date: 26/11/2025 8:32:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Edwin Firacative
-- Create date: 2024-7-8
-- Description:	import the masters, masters1, masters2 and masters6 tables from offers items
-- =============================================
ALTER PROCEDURE [dbo].[pr_imp_ite_off_master]
	-- tuis procedure don't have parameters
		@opar_bit_if_error bit = 0 output,   -- output parameter 0 no error, 1 error in the procedure
	@opar_nvc_error nvarchar(MAX) = '' output   -- xml with error messsages ErrorNumber, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorMessage
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @bit_tran_count bit = 0  -- mark if one transaction has satarted
	
	DECLARE @bit_err_pro_ids bit -- if error in procedure reserve ids
	DECLARE @nvc_err_pro_ids nvarchar(MAX) -- xml error procedure ids
	
	declare @int_new_mas_quantity int = 0 -- new master model T references quantity
	declare @int_act_master_id int -- actual max id in master table
	declare @int_new_mas1_quantity int = 0 -- new master1 materials quantity
	declare @int_act_master1_id int -- actual max id in master1 table
	declare @int_new_mas2_quantity int = 0 -- new master2 time routes quantity
	declare @int_act_master2_id int -- actual max id in master2 table
	declare @int_new_mas6_quantity int = 0 -- new master6 third party services quantity
	declare @int_act_master6_id int -- actual max id in master6 table

	declare @tab_new_master table	-- table variable with the code of the new references to be create in master table with model "T"
	(
		fi_nma_code nchar(20)
		,fi_nma_id int identity (1,1) 
	)

	declare  @ta_ite_bil_of_materials table
	(
		 fi_ibm_pro_code char(20)
		,fi_ibm_mat_code char(20)
		,fi_ibm_mat_quantity numeric(14,4)
		,fi_ibm_master1_quantity numeric (14,4)
		,fi_ibm_level int
		,fi_ibm_ide_position int
		,fi_ibm_ma1_id int
		,fi_ibm_id int identity(1,1)
	)

	declare @ta_ins_master1 table
	(
		fi_im1_cod_product char(20)
		,fi_im1_cod_material char(20)
		,fi_im1_tot_quantity numeric(14,4)
		,fi_im1_id int identity(1,1)
	)

		declare  @ta_ite_bil_of_materials2 table
	(
		 fi_ibm2_pro_code char(20)
		,fi_ibm2_mat_code char(20)
		,fi_ibm2_mat_quantity numeric(14,4)
		,fi_ibm2_master1_quantity numeric (14,4)
		,fi_ibm2_level int
		,fi_ibm2_ide_position int
		,fi_ibm2_ma1_id int
		,fi_ibm2_id int identity(1,1)
	)

	declare @ta_ins_master2 table
	(
		fi_im2_cod_product char(20)
		,fi_im2_cod_depto char(20)
		,fi_im2_tot_quantity numeric(14,4)
		,fi_im2_id int identity(1,1)
	);

		declare @ta_ins_master6 table
	(
		fi_im6_cod_product char(20)
		,fi_im6_cod_serv char(8)
		,fi_im6_tot_quantity numeric(14,4)
		,fi_im6_tot_value numeric(14,0)
		,fi_im6_id int identity(1,1)
	);


begin try

IF @@TRANCOUNT = 0   -- check if there is transaction nesting. If there is,it doesn't start another transaction
			BEGIN
				BEGIN TRANSACTION
				SET @bit_tran_count = 1
		END


insert into @tab_new_master  -- insert into the table variable the codes of the references in pedidos not imported in master with a item id assigned
(
	fi_nma_code
)
select
ata_emp001_fact_pedidos.cod
from
emp001_fact.dbo.pedidos as ata_emp001_fact_pedidos
inner join
emp001_ofer.dbo.[tb_det_offer] as ata_emp001_ofer_det_offer
on
ata_emp001_ofer_det_offer.[fi_deo_id] = ata_emp001_fact_pedidos.COND1
left join
(
select	
dbo.master.cod
,dbo.master.modelo
from
dbo.master
where
modelo = 'T'
) as ata_mas_model_t -- only masters with T model
on
ata_mas_model_t.cod = ata_emp001_fact_pedidos.cod
where
ata_emp001_fact_pedidos.COND1 <> 0
and
ata_mas_model_t.modelo is null  -- condition for references not yet imported


select @int_new_mas_quantity = count (fi_nma_id) from @tab_new_master  -- quantity of new master to be imported

if @int_new_mas_quantity > 0
begin
	execute [dbo].[pr_lsp_res_ids]  
 @int_new_mas_quantity
 ,'master'
 ,@opar_int_act_id = @int_act_master_id output
 ,@opar_bit_if_error = @bit_err_pro_ids output
, @opar_nvc_error = @nvc_err_pro_ids output

if @bit_err_pro_ids = 1  --  whether the previous procedure generated an error  
	begin
		set @nvc_err_pro_ids = 'Error al actualizar tabla ids master' + @nvc_err_pro_ids
		raiserror ( @nvc_err_pro_ids, 16, 1)
	end

	create sequence dbo.sq_master_id as int  -- sequence to increment the id of the tables in the insert statements
				start with 1
				increment by 1;

insert into
dbo.master
(
cod
,modelo
,nom
,LMIN
,id
)
select
ata_new_master.fi_nma_code
,'T' as afi_mdelo
,left(ata_emp001_inv_maestro.nom,99) as afi_nom
,1 as afi_lmin
,@int_act_master_id + NEXT VALUE FOR dbo.sq_master_id AS afi_mas_id
from
@tab_new_master as ata_new_master
inner join
emp001_inv.dbo.maestro as ata_emp001_inv_maestro
on
ata_emp001_inv_maestro.cod = ata_new_master.fi_nma_code

print 'imported ' + convert(nvarchar(10), @int_new_mas_quantity) + ' references in table master'

drop sequence dbo.sq_master_id



end
else
print 'nothing to import in master table';

with avi_ite_bil_of_materials(afi_item_id, afi_mat_code, afi_mat_quantity, afi_level, afi_ide_position, afi_ma1_id) as
(
	select
	ata_emp001_ofer_tb_ite_detail.[fi_ide_item]
	,avi_res_master1.afi_cod_material
	,cast(ata_emp001_ofer_tb_ite_detail.[fi_ide_quantity] * avi_res_master1.afi_uni_quantity as numeric(14,4)) as afi_tot_quantity
	, 0 as afi_level
	,ata_emp001_ofer_tb_ite_detail.[fi_ide_position]
	,avi_res_master1.id
	from
	emp001_ofer.[dbo].[tb_ite_detail] as ata_emp001_ofer_tb_ite_detail
	inner join
	(
	select
	[dbo].[MASTER1].[CODP]
	,ata_emp001_inv_maestro.codclie
	,[dbo].[MASTER1].[COD] as afi_cod_material
	,case when [dbo].[MASTER].LMIN = 0 then  [dbo].[MASTER1].[CANT] else [dbo].[MASTER1].[CANT]/[dbo].[MASTER].LMIN end as afi_uni_quantity
	,[dbo].[MASTER1].id
	FROM
	[dbo].[MASTER1]
	INNER JOIN
	[dbo].[MASTER]
	ON
	(
	[dbo].[MASTER].COD = [dbo].[MASTER1].[CODP]
	AND
	[dbo].[MASTER1].[MODELO_MAS] = 'C'
	)
	inner join
	emp001_inv.dbo.maestro as ata_emp001_inv_maestro
	on
	ata_emp001_inv_maestro.cod = 	[dbo].[MASTER1].[CODP]
	) as avi_res_master1
	on
	avi_res_master1.codclie = ata_emp001_ofer_tb_ite_detail.[fi_ide_component]

	UNION ALL

	select
	avi_ite_bil_of_materials.afi_item_id
	,avi_res_le2_master1.afi_cod_material
	,cast(avi_ite_bil_of_materials.afi_mat_quantity * avi_res_le2_master1.afi_uni_quantity as numeric(14,4)) as afi_tot_le2_quantity
	,avi_ite_bil_of_materials.afi_level + 1  as afi_le2_level
	,avi_ite_bil_of_materials.afi_ide_position
	,avi_res_le2_master1.id
	from
	avi_ite_bil_of_materials
	inner join
	(
	select
	[dbo].[MASTER1].[CODP]
	,[dbo].[MASTER1].[COD] as afi_cod_material
	,case when [dbo].[MASTER].LMIN = 0 then  [dbo].[MASTER1].[CANT] else [dbo].[MASTER1].[CANT]/[dbo].[MASTER].LMIN end as afi_uni_quantity
	,[dbo].[MASTER1].id
	FROM
	[dbo].[MASTER1]
	INNER JOIN
	[dbo].[MASTER]
	ON
	(
	[dbo].[MASTER].COD = [dbo].[MASTER1].[CODP]
	AND
	[dbo].[MASTER1].[MODELO_MAS] = master.MODELO
	)
	where ([dbo].[MASTER1].[MODELO_MAS] = ' ' or [dbo].[MASTER1].[MODELO_MAS] = 'C') 
	and
	[dbo].[MASTER1].codp not like '[0-9][0-9][0-9][0-9]E%' and [dbo].[MASTER1].codp not like 'F%'
	) as avi_res_le2_master1
	on
	avi_ite_bil_of_materials.afi_mat_code = avi_res_le2_master1.codp

)
insert into @ta_ite_bil_of_materials
(
	fi_ibm_pro_code
	,fi_ibm_mat_code
	,fi_ibm_mat_quantity
)
select
	ata_emp001_fact_pedidos.cod 
	,avi_ite_bil_of_materials.afi_mat_code
	,avi_ite_bil_of_materials.afi_mat_quantity
from
avi_ite_bil_of_materials
inner join
emp001_fact.dbo.pedidos as ata_emp001_fact_pedidos
on
avi_ite_bil_of_materials.afi_item_id = ata_emp001_fact_pedidos.cond1
inner join
master
on
(
master.cod = ata_emp001_fact_pedidos.cod
and
master.modelo = 'T'
)
left join
master1
on
(
master1.codp =  ata_emp001_fact_pedidos.cod 
and
master1.cod = avi_ite_bil_of_materials.afi_mat_code
and
master1.modelo_mas = 'T'
)
where
master1.id is null;

delete
from
@ta_ite_bil_of_materials
from
@ta_ite_bil_of_materials as ata_ite_bil_of_materials
inner join
master
on
(
master.cod = ata_ite_bil_of_materials.fi_ibm_mat_code
)
where
(
ata_ite_bil_of_materials.fi_ibm_mat_code not like '[0-9][0-9][0-9][0-9]E%' 
and  fi_ibm_mat_code not like 'F%'
and ata_ite_bil_of_materials.fi_ibm_mat_code not like 'MT08%'
)




insert into
@ta_ins_master1
(
	fi_im1_cod_product
	,fi_im1_cod_material
	,fi_im1_tot_quantity
)
select
ata_ite_bil_of_materials.fi_ibm_pro_code
,ata_ite_bil_of_materials.fi_ibm_mat_code
,sum(ata_ite_bil_of_materials.fi_ibm_mat_quantity) as afi_tot_quantity
from
@ta_ite_bil_of_materials as ata_ite_bil_of_materials
group by 
ata_ite_bil_of_materials.fi_ibm_pro_code
,ata_ite_bil_of_materials.fi_ibm_mat_code



select  @int_new_mas1_quantity = count(fi_im1_id) from @ta_ins_master1

if @int_new_mas1_quantity > 0
begin
	execute [dbo].[pr_lsp_res_ids]  
 @int_new_mas1_quantity
 ,'master1'
 ,@opar_int_act_id = @int_act_master1_id output
 ,@opar_bit_if_error = @bit_err_pro_ids output
, @opar_nvc_error = @nvc_err_pro_ids output

if @bit_err_pro_ids = 1  --  whether the previous procedure generated an error  
	begin
		set @nvc_err_pro_ids = 'Error al actualizar tabla ids master1' + @nvc_err_pro_ids
		raiserror ( @nvc_err_pro_ids, 16, 1)
	end

	create sequence dbo.sq_master1_id as int  -- sequence to increment the id of the tables in the insert statements
				start with 1
				increment by 1;
	
	insert into MASTER1
	(
		[CODP]
		,[COD]
		,[CANT]
		,[Id]
		,[MODELO_MAS]
	)
	select
	ata__ins_master1.fi_im1_cod_product
	,ata__ins_master1.fi_im1_cod_material
	,ata__ins_master1.fi_im1_tot_quantity
	,@int_act_master1_id + next value for dbo.sq_master1_id as afi_ma1_id
	, 'T' as afi_modelo
	from
	@ta_ins_master1 as ata__ins_master1
	

	print 'imported ' + convert(nvarchar(10), @int_new_mas1_quantity) + ' entries in table master1'
	
	drop sequence sq_master1_id
	
	end
	else
	print 'nothing to import in master1 table';

with avi_ite_bil_of_materials2(afi_item_id, afi_mat_code, afi_mat_quantity, afi_level, afi_ide_position, afi_ma1_id) as
(
	select
	ata_emp001_ofer_tb_ite_detail.[fi_ide_item]
	,ata_emp001_inv_maestro.cod
	,cast(ata_emp001_ofer_tb_ite_detail.[fi_ide_quantity] as numeric(14,4)) as afi_tot_quantity
	, 0 as afi_level
	,ata_emp001_ofer_tb_ite_detail.[fi_ide_position]
	,ata_emp001_ofer_tb_ite_detail.fi_ide_id
	from
	emp001_ofer.[dbo].[tb_ite_detail] as ata_emp001_ofer_tb_ite_detail
	inner join
	emp001_inv.dbo.maestro as ata_emp001_inv_maestro
	on
	ata_emp001_inv_maestro.codclie = ata_emp001_ofer_tb_ite_detail.[fi_ide_component]

	UNION ALL

	select
	avi_ite_bil_of_materials2.afi_item_id
	,avi_res_le2_master1.afi_cod_material
	,cast(avi_ite_bil_of_materials2.afi_mat_quantity * avi_res_le2_master1.afi_uni_quantity as numeric(14,4)) as afi_tot_le2_quantity
	,avi_ite_bil_of_materials2.afi_level + 1  as afi_le2_level
	,avi_ite_bil_of_materials2.afi_ide_position
	,avi_res_le2_master1.id
	from
	avi_ite_bil_of_materials2
	inner join
	(
	select
	[dbo].[MASTER1].[CODP]
	,[dbo].[MASTER1].[COD] as afi_cod_material
	,case when [dbo].[MASTER].LMIN = 0 then  [dbo].[MASTER1].[CANT] else [dbo].[MASTER1].[CANT]/[dbo].[MASTER].LMIN end as afi_uni_quantity
	,[dbo].[MASTER1].id
	FROM
	[dbo].[MASTER1]
	INNER JOIN
	[dbo].[MASTER]
	ON
	(
	[dbo].[MASTER].COD = [dbo].[MASTER1].[CODP]
	AND
	[dbo].[MASTER1].[MODELO_MAS] = master.MODELO
	)
	where ([dbo].[MASTER1].[MODELO_MAS] = ' ' or [dbo].[MASTER1].[MODELO_MAS] = 'C') 
	and
	[dbo].[MASTER1].codp not like '[0-9][0-9][0-9][0-9]E%' and [dbo].[MASTER1].codp not like 'F%' and [dbo].[MASTER1].codp not like 'MT08%'
	) as avi_res_le2_master1
	on
	avi_ite_bil_of_materials2.afi_mat_code = avi_res_le2_master1.codp

)
insert into @ta_ite_bil_of_materials2
(
	fi_ibm2_pro_code
	,fi_ibm2_mat_code
	,fi_ibm2_mat_quantity
)
select
	ata_emp001_fact_pedidos.cod 
	,avi_ite_bil_of_materials2.afi_mat_code
	,sum(avi_ite_bil_of_materials2.afi_mat_quantity) as afi_tot_quantity
from
avi_ite_bil_of_materials2
inner join
emp001_fact.dbo.pedidos as ata_emp001_fact_pedidos
on
avi_ite_bil_of_materials2.afi_item_id = ata_emp001_fact_pedidos.cond1
inner join
master
on
(
master.cod = ata_emp001_fact_pedidos.cod
and
master.modelo = 'T'
)
group by
ata_emp001_fact_pedidos.cod 
,avi_ite_bil_of_materials2.afi_mat_code

delete
from
@ta_ite_bil_of_materials2
from
@ta_ite_bil_of_materials2 as ata_ite_bil_of_materials
inner join
master
on
(
master.cod = ata_ite_bil_of_materials.fi_ibm2_mat_code
)
where
(
ata_ite_bil_of_materials.fi_ibm2_mat_code like '[0-9][0-9][0-9][0-9]E%' 
or  ata_ite_bil_of_materials.fi_ibm2_mat_code like 'F%'
or  ata_ite_bil_of_materials.fi_ibm2_mat_code like 'MT08%'
)




insert into
@ta_ins_master2
(
	fi_im2_cod_product
	,fi_im2_cod_depto
	,fi_im2_tot_quantity
)
select
ata_ite_bil_of_materials.fi_ibm2_pro_code
,avi_ma2_resume.cod
,sum(avi_ma2_resume.tot_uni_time * ata_ite_bil_of_materials.fi_ibm2_mat_quantity) as afi_tot_time
from
@ta_ite_bil_of_materials2 as ata_ite_bil_of_materials
inner join
(
select
master2.codp
,master2.cod
,sum(case when master.lmin = 0 then (master2.cant + master2.cantf) else (master2.cant + master2.cantf)/lmin end) as tot_uni_time
from
master2
inner join
master
on
master.cod = master2.codp
group by
master2.codp
,master2.cod
) as avi_ma2_resume
on
avi_ma2_resume.codp = ata_ite_bil_of_materials.fi_ibm2_mat_code
group by 
ata_ite_bil_of_materials.fi_ibm2_pro_code
,avi_ma2_resume.cod




select  @int_new_mas2_quantity = count(fi_im2_id) from @ta_ins_master2

if @int_new_mas2_quantity > 0
begin
	execute [dbo].[pr_lsp_res_ids]  
 @int_new_mas1_quantity
 ,'master2'
 ,@opar_int_act_id = @int_act_master2_id output
 ,@opar_bit_if_error = @bit_err_pro_ids output
, @opar_nvc_error = @nvc_err_pro_ids output

if @bit_err_pro_ids = 1  --  whether the previous procedure generated an error  
	begin
		set @nvc_err_pro_ids = 'Error al actualizar tabla ids master2' + @nvc_err_pro_ids
		raiserror ( @nvc_err_pro_ids, 16, 1)
	end

	create sequence dbo.sq_master2_id as int  -- sequence to increment the id of the tables in the insert statements
				start with 1
				increment by 1;
	
	insert into MASTER2
	(
		[CODP]
		,[COD]
		,[CANT]
		,CANT1
		,CANTF
		,[Id]
		,[MODELO_MAS]
	)
	select
	ata_ins_master2.fi_im2_cod_product
	,ata_ins_master2.fi_im2_cod_depto
	,ata_ins_master2.fi_im2_tot_quantity
	,0 as afi_cant2
	,0 AS AFI_cantf
	,@int_act_master2_id + next value for dbo.sq_master2_id as afi_ma2_id
	, 'T' as afi_modelo
	from
	@ta_ins_master2 as ata_ins_master2
	left join
	master2
	on
	(
	master2.codp =ata_ins_master2.fi_im2_cod_product
	and
	master2.cod = ata_ins_master2.fi_im2_cod_depto
	and
	master2.modelo_mas = 'T'
	)
	where
	master2.id is null
	

	print 'imported ' + convert(nvarchar(10), @int_new_mas2_quantity) + ' entries in table master2'
	
	drop sequence sq_master2_id
	
	end
	else
	print 'nothing to import in master2 table';

	insert into
@ta_ins_master6
(
	fi_im6_cod_product
	,fi_im6_cod_serv
	,fi_im6_tot_quantity
	,fi_im6_tot_value
)
select
ata_ite_bil_of_materials.fi_ibm2_pro_code
,avi_ma6_resume.cod
,sum(avi_ma6_resume.tot_uni_quantity * ata_ite_bil_of_materials.fi_ibm2_mat_quantity) as afi_tot_quantity
,sum(avi_ma6_resume.tot_uni_value* ata_ite_bil_of_materials.fi_ibm2_mat_quantity) as afi_tot_value
from
@ta_ite_bil_of_materials2 as ata_ite_bil_of_materials
inner join
(
select
master6.codp
,master6.cod
,sum(case when master.lmin = 0 then master6.cant  else (master6.cant)/lmin end) as tot_uni_quantity
,sum(case when master.lmin = 0 then master6.valor  else (master6.valor)/lmin end) as tot_uni_value
from
master6
inner join
master
on
master.cod = master6.codp
group by
master6.codp
,master6.cod
) as avi_ma6_resume
on
avi_ma6_resume.codp = ata_ite_bil_of_materials.fi_ibm2_mat_code
group by 
ata_ite_bil_of_materials.fi_ibm2_pro_code
,avi_ma6_resume.cod



select  @int_new_mas6_quantity = count(fi_im6_id) from @ta_ins_master6

if @int_new_mas2_quantity > 0
begin
	execute [dbo].[pr_lsp_res_ids]  
 @int_new_mas6_quantity
 ,'master6'
 ,@opar_int_act_id = @int_act_master6_id output
 ,@opar_bit_if_error = @bit_err_pro_ids output
, @opar_nvc_error = @nvc_err_pro_ids output

if @bit_err_pro_ids = 1  --  whether the previous procedure generated an error  
	begin
		set @nvc_err_pro_ids = 'Error al actualizar tabla ids master2' + @nvc_err_pro_ids
		raiserror ( @nvc_err_pro_ids, 16, 1)
	end

	create sequence dbo.sq_master6_id as int  -- sequence to increment the id of the tables in the insert statements
				start with 1
				increment by 1;
	
	insert into MASTER6
	(
		[CODP]
		,[COD]
		,[CANT]
		,VALOR
		,[Id]
		,T_COSTO
		,[MODELO_MAS]
	)
	select
	ata_ins_master6.fi_im6_cod_product
	,ata_ins_master6.fi_im6_cod_serv
	,ata_ins_master6.fi_im6_tot_quantity
	,ata_ins_master6.fi_im6_tot_value
	,@int_act_master6_id + next value for dbo.sq_master6_id as afi_ma6_id
	,1 as afi_t_costo
	, 'T' as afi_modelo
	from
	@ta_ins_master6 as ata_ins_master6
	left join
	master6
	on
	(
	master6.codp =ata_ins_master6.fi_im6_cod_product
	and
	master6.cod = ata_ins_master6.fi_im6_cod_serv
	and
	master6.modelo_mas = 'T'
	)
	where
	master6.id is null
	

	print 'imported ' + convert(nvarchar(10), @int_new_mas6_quantity) + ' entries in table master6'
	
	drop sequence sq_master6_id
	
	end
	else
	print 'nothing to import in master6 table';

	IF @@TRANCOUNT = 0   -- check if there is transaction nesting. If there is don't start another transaction
		BEGIN
			BEGIN TRANSACTION
			SET @bit_tran_count = 1
		END

if @bit_tran_count = 1
		BEGIN
			COMMIT
		END
	
		
end try
begin catch
		print 'bit_tran_count in catch is ' + convert(nvarchar(10), @bit_tran_count)
		if @bit_tran_count = 1
		BEGIN
			ROLLBACK
		END
		SET CONCAT_NULL_YIELDS_NULL OFF

		select @opar_nvc_error =  'Error number: ' + convert( nvarchar(10), ERROR_NUMBER() ) + '. Severity: ' + convert(nvarchar(10), ERROR_SEVERITY())  + '. State: '+ convert(nvarchar(10),ERROR_STATE()) + '. Procedure: '  
		+  ERROR_PROCEDURE() + '. Line: ' + 
		convert(nvarchar(10),ERROR_LINE()) + '. Messsage: '  
		+ ERROR_MESSAGE()
		
		set @opar_bit_if_error = 1						
end catch 

END