USE [MDS-INGENIERIA]
GO
/****** Object:  StoredProcedure [dbo].[proConTree]    Script Date: 26/11/2025 8:24:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:Edwin Firacative
-- Create date: 2024-11-05
-- Description:	procedure of the library stored procedure that return the tree sons and direct father sin all levels from a assamble file-name
-- =============================================
ALTER PROCEDURE [dbo].[proConTree]
	
	@par_nvc_fil_name nvarchar(255)= '', 	-- name of the SolidWorks assembly file with the extension .SLDASM		
	@parNvcConName nvarchar(255)= '', 	-- name of the SolidWorks assembly configuration
	@opar_bit_if_error bit  output,   -- output parameter 0 no error, 1 error in the procedure
	@opar_nvc_error nvarchar(MAX)  output   -- text with error messsages ErrorNumber, ErrorSeverity, ErrorState, ErrorProcedure, ErrorLine, ErrorMessage
	

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @bit_tran_count bit = 0  -- mark if one transaction has satarted
	DECLARE @bitAucControl bit = 0 -- auxiliar variable to control requeriments 

	set @opar_bit_if_error = 1  -- default value error
	set @opar_nvc_error ='Stored Procedure started; '

	declare @tabGraFather table
	(
		inGfaXRefId int
		,intGfaXrefConConfigurationId int
	)

	insert into
	@tabGraFather
	select distinct
	[dbo].[XRefs].XRefID
	,[dbo].[XRefConfiguration].[ConfigurationID]
	from
	[dbo].[XRefs]
	inner join
	[dbo].[XRefConfiguration]
	on
	[dbo].[XRefs].XRefID = [dbo].[XRefConfiguration].XRefID
	inner join
	[dbo].[Documents]
	on
	[dbo].[Documents].DocumentID = [dbo].[XRefs].[DocumentID]
	inner join
	[dbo].[DocumentConfiguration]
	on
	[dbo].[XRefConfiguration].[ConfigurationID] = [dbo].[DocumentConfiguration].ConfigurationID
	where
	[dbo].[Documents].[Filename] = @par_nvc_fil_name
	and
	[dbo].[DocumentConfiguration].ConfigurationName = @parNvcConName
	and
	dbo.XRefs.RevNr = [dbo].[Documents].LatestRevisionNo
	and
	[dbo].[Documents].ExtensionID = 4
	and
	([dbo].[Documents].CurrentStatusID = 13 or [dbo].[Documents].CurrentStatusID = 14)

If not Exists (Select inGfaXRefId from @tabGraFather  )
	begin
		select @opar_nvc_error = @opar_nvc_error + 'File and configuration not exists in PDM db, is not Terminado (id 13) o Proyecto D. Mecánico (id 14) or is not an assamble; '
		select @opar_bit_if_error = 1 -- error invalid imput parameter
	end
else
begin

	begin try

		IF @@TRANCOUNT = 0   -- check if there is transaction nesting. If there is don't start another transaction
			BEGIN
				BEGIN TRANSACTION
				SET @bit_tran_count = 1
			END;

	-- recursive query to consult the hierarchical list of components from the file parameter

	declare @tabDocKardex table
	(
		binDkaDocId bigint not null,
		intDkaDocRevNumber int not null,
		binDkaConId bigint not null,
		nvcDkaKardex nvarchar(max) 
	)

	declare @tabUniDocument table
	(
	binUdoDocId bigint,
	intUdoDocRevNumber int,
	intUdoLastDocRevNumber int
	)

	declare @tabVauRevision table
	(
	binVreDocId bigint,
	intVreDocRevNumber int,
	nvcVreVaRevision nvarchar(6)
	)
	
		declare @tabVauLastRevision table
	(
	binVlrDocId bigint,
	intVlrDocRevNumber int,
	nvcVlrVaRevision nvarchar(6)
	)


	declare @tabDescription table
	(
	binDesDocId bigint,
	intDesDocRevNumber int,
	nvcDesDescription nvarchar(max)
	)

	declare @tabTipMontaje table
	(
	binTmoDocId bigint,
	intTmoDocRevNumber int,
	nvcTmoTipMotaje nvarchar(20)
	)

	declare @tabUniDocConfiguration table
	(
	binUdcDocConfId bigint
	)

	declare @tabConName table
	(
	binCnaDocConfId bigint,
	nvcCnaConName nvarchar(max)
	)

	declare @tabCutListProperties table
	(
	binClpSonDocId bigint not null,
	nvcClpSonName nvarchar(max) not null,
	binClpSonConId bigint not null,
	nvcClpSonConName nvarchar(max) not null,
	nvcClpSonVauRevision nvarchar(10) not null,	
	nvcClpSonMaterial nvarchar(50),
	decClpThickness decimal(3,1),
	decClpWidth decimal(8,2),
	decClpLong decimal(8,2),
	decClpEfeArea decimal(10,2),
	decClpLenCut decimal(8,2),
	binClpBendQuantity bigint,
	binClpPunQuantity bigint,
	binClpTxtImpOldId bigint
	)

	declare @tabTreeComponents table  -- table variable with the tree components
	(
	binTcoDirFatDocId bigint not null,
	nvcTcoDirFatName nvarchar(max),
	binTcoDirFatConId bigint not null,
	nvcTcoDirFatConName nvarchar(max),
	intTcoDirFatRevNumber int not null,
	nvcTcoDirFatVauRevision nvarchar(10),
	nvcTcoDirFatDescription nvarchar(max),
	intTcoDirFatStatus int,
	binTcoSonDocId bigint not null,
	nvcTcoSonName nvarchar(max),
	binTcoSonConId bigint not null,
	intTcoSonFilExtension int,
	nvcTcoSonConName nvarchar(max),
	intTcoSonRevNumber int not null,
	intTcoSonLastRevNumber int not null,
	nvcTcoSonVauRevision nvarchar(10),
	nvcTcoSonLastVauRevision nvarchar(10),
	nvcTcoSonDescription nvarchar(max),
	intTcoSonStatus int,
	intTcoDirFatQuantity int,
	intTcoAcuQuantity int,
	intTcoLevel int,
	nvcTcoSonMaterial nvarchar(50),
	decTcoThickness decimal(3,1),
	decTcoWidth decimal(8,2),
	decTcoLong decimal(8,2),
	decTcoEfeArea decimal(10,2),
	decTcoLenCut decimal(8,2),
	binTcoBendQuantity bigint,
	binTcoPunQuantity bigint,
	nvcTcoTipMontaje nvarchar(30),
	nvcTcoKardex nvarchar(30)

	);

-- ***** kardex property of all son documents of XRef  

	insert into @tabDocKardex

		select
ataValPropertie.XRefDocument
,ataValPropertie.[XRefRevNr]
,ataValPropertie.XRefConfigurationID
,ataValPropertie.[ValueText]
from
(
select
ataUniXRefConRevDoc.XRefDocument
,ataUniXRefConRevDoc.[XRefRevNr]
,ataUniXRefConRevDoc.XRefConfigurationID
,ataVariableValue.[ValueText]
,row_number() over (partition by ataUniXRefConRevDoc.XRefDocument, ataUniXRefConRevDoc.XRefConfigurationID, ataUniXRefConRevDoc.[XRefRevNr]  order by ataVariableValue.[RevisionNo] desc) as afiRowNumber
from
(
select
[dbo].[VariableValue].[DocumentID]
,[dbo].[VariableValue].RevisionNo
,[dbo].[VariableValue].ConfigurationID
,[dbo].[VariableValue].[ValueText]
from
[dbo].[VariableValue]
where
[VariableID] = 83
and
[dbo].[VariableValue].[ProjectID] = 2

) as ataVariableValue
inner join
(
select distinct
[dbo].[XRefs].[XRefDocument]
,[dbo].[XRefs].[XRefRevNr]
,[dbo].[XRefConfiguration].[XRefConfigurationID]
from
[dbo].[XRefs]
inner join
[dbo].[XRefConfiguration]
on
[dbo].[XRefs].[XRefID] = [dbo].[XRefConfiguration].[XRefID]
) as ataUniXRefConRevDoc
on
ataVariableValue.ConfigurationID = ataUniXRefConRevDoc.[XRefConfigurationID]
and
ataVariableValue.[DocumentID] = ataUniXRefConRevDoc.[XRefDocument]
and
ataVariableValue.RevisionNo <= ataUniXRefConRevDoc.[XRefRevNr]

) as ataValPropertie
inner join
(
select
ataEmp001Maestro.cod
from
[192.168.1.214\SQLFACTORY].EMP001_INV.dbo.Maestro as ataEmp001Maestro
where
ataEmp001Maestro.grupo = 'S'
) as ataEmp001Maestro2
on
ataValPropertie.[ValueText]  = ataEmp001Maestro2.cod COLLATE SQL_Latin1_General_CP1_CI_AS

where
afiRowNumber = 1;

-- ********** recursive query to extract the tree of components

with ata_tree_components 
(  
	fi_bin_tct_dfat_doc_id, 
	fi_nvc_tct_dfat_doc_name, 
	fi_nvc_tct_dfat_configuration, 
	fi_nvc_tct_dfat_revision,
	intTctDirFatStatus,
	fi_bin_tct_son_doc_id,
	intSonFilExtension,
	fi_nvc_tct_son_doc_name, 
	fi_nvc_tct_son_configuration, 
	fi_nvc_tct_son_revision,
	intTctSonStatus,
	intSonLastRevNumber,
	fi_int_tct_dfa_quantity,
	fi_int_tct_son_quantity, 
	fi_int_tct_level
)
	as
(
	SELECT        

	dbo.XRefs.DocumentID
	,left(ataDocumentFather.Filename,LEN(ataDocumentFather.Filename)-7)
	,dbo.XRefConfiguration.ConfigurationID
	,dbo.XRefs.RevNr
	,ataDocumentFather.CurrentStatusID

	,dbo.XRefs.XRefDocument
	,ataDocumentSon.ExtensionID
	,left(ataDocumentSon.Filename,LEN(ataDocumentSon.Filename)-7)
	,dbo.XRefConfiguration.XRefConfigurationID
	,dbo.XRefs.XRefRevNr
	,ataDocumentSon.CurrentStatusID
	,ataDocumentSon.LatestRevisionNo
	,(dbo.XRefConfiguration.RefCount - dbo.XRefConfiguration.SuppressedCount) as afiedFaQuantity
	,(dbo.XRefConfiguration.RefCount - dbo.XRefConfiguration.SuppressedCount) as afieNetQuantity
	, 0 as afiLevel
FROM            
dbo.XRefs 
INNER JOIN
dbo.XRefConfiguration 
ON 
dbo.XRefConfiguration.XRefID = dbo.XRefs.XRefID 
INNER JOIN
dbo.Documents AS ataDocumentFather 
ON 
dbo.XRefs.DocumentID = ataDocumentFather.DocumentID
INNER JOIN
dbo.Documents AS ataDocumentSon 
ON dbo.XRefs.XRefDocument = ataDocumentSon.DocumentID
inner join
@tabGraFather as ataGraFather
on
dbo.XRefs.XRefID = ataGraFather.inGfaXRefId
and
dbo.XRefConfiguration.ConfigurationID = ataGraFather.intGfaXrefConConfigurationId

where 
(
 
	(ataDocumentSon.ExtensionID = 4 or ataDocumentSon.ExtensionID = 5) 
	and ataDocumentSon.ObjectTypeID <> 5
	and
	ataDocumentSon.Deleted = 0
) 
 
and (dbo.XRefConfiguration.RefCount - dbo.XRefConfiguration.SuppressedCount) > 0

	union all
	select
	ata_tree_components.fi_bin_tct_son_doc_id
	,ata_tree_components.fi_nvc_tct_son_doc_name
	,ata_tree_components.fi_nvc_tct_son_configuration
	,ata_tree_components.fi_nvc_tct_son_revision
	,ata_tree_components.inttctSonStatus

	,[dbo].[XRefs].XRefDocument
	,ataSonDocument2.ExtensionID
	,left(ataSonDocument2.Filename,len(ataSonDocument2.Filename)-7)
	,[dbo].[XRefConfiguration].XRefConfigurationID
	,[dbo].[XRefs].XRefRevNr
	,ataSonDocument2.CurrentStatusID
	,ataSonDocument2.LatestRevisionNo
	,([dbo].[XRefConfiguration].RefCount-dbo.XRefConfiguration.SuppressedCount) as afiDfaQuantity
	,([dbo].[XRefConfiguration].RefCount-dbo.XRefConfiguration.SuppressedCount) * ata_tree_components.fi_int_tct_son_quantity as afiTotQuantity
	,ata_tree_components.fi_int_tct_level + 1 as afiLevel
	from
	ata_tree_components
	inner join
	[dbo].[XRefs]
	on
	ata_tree_components.fi_bin_tct_son_doc_id = [dbo].[XRefs].DocumentID
	and
	ata_tree_components.fi_nvc_tct_son_revision = [dbo].[XRefs].RevNr
	inner join
	dbo.XRefConfiguration 
	on
	ata_tree_components.fi_nvc_tct_son_configuration = [dbo].[XRefConfiguration].ConfigurationID
	and 
	dbo.XRefConfiguration.XRefID = dbo.XRefs.XRefID 
	inner join 
	[dbo].[Documents] as ataSonDocument2 
	on 
	dbo.XRefs.XRefDocument = ataSonDocument2.DocumentID 
	outer apply 
	( 
		select 
		binDkaDocId,
		binDkaConId,
		nvcDkaKardex
		from @tabDocKardex as ataDocKardex where ata_tree_components.fi_bin_tct_son_doc_id = ataDocKardex.binDkaDocId and ata_tree_components.fi_nvc_tct_son_configuration = ataDocKardex.binDkaConId and ata_tree_components.fi_nvc_tct_son_revision = ataDocKardex.intDkaDocRevNumber
	) ataKardex 
	where 
	ataSonDocument2.ObjectTypeID<>5 
	and 
	ataKardex.binDkaDocId is NULL
	and
	([dbo].[XRefConfiguration].RefCount-dbo.XRefConfiguration.SuppressedCount) > 0
	and
	ataSonDocument2.Deleted = 0
	)
	


insert into @tabTreeComponents
(
	binTcoDirFatDocId,
	nvcTcoDirFatName,
	binTcoDirFatConId,
	intTcoDirFatRevNumber,
	intTcoDirFatStatus,
	binTcoSonDocId,
	intTcoSonFilExtension,
	nvcTcoSonName,
	binTcoSonConId,
	intTcoSonRevNumber,
	intTcoSonStatus,
	intTcoSonLastRevNumber,
	intTcoDirFatQuantity,
	intTcoAcuQuantity,
	intTcoLevel
)
select 
	fi_bin_tct_dfat_doc_id, 
	fi_nvc_tct_dfat_doc_name, 
	fi_nvc_tct_dfat_configuration, 
	fi_nvc_tct_dfat_revision,
	intTctDirFatStatus,
	fi_bin_tct_son_doc_id,
	intSonFilExtension,
	fi_nvc_tct_son_doc_name, 
	fi_nvc_tct_son_configuration, 
	fi_nvc_tct_son_revision,
	intTctSonStatus,
	intSonLastRevNumber,
	fi_int_tct_dfa_quantity,
	fi_int_tct_son_quantity, 
	fi_int_tct_level
from
ata_tree_components

insert into @tabUniDocument

select distinct
binTcoSonDocId
,intTcoSonRevNumber
,intTcoSonLastRevNumber
from
@tabTreeComponents
union all
select distinct
binTcoDirFatDocId
,intTcoDirFatRevNumber
,intTcoDirFatRevNumber
from
@tabTreeComponents
where
intTcoLevel = 0

insert into @tabVauRevision
	(
	binVreDocId,
	intVreDocRevNumber,
	nvcVreVaRevision
	)
select
ataValPropertie.binUdoDocId
,ataValPropertie.intUdoDocRevNumber
,ataValPropertie.[ValueText]
from
(
select
ataUniDocument.binUdoDocId
,ataUniDocument.intUdoDocRevNumber
,ataVariableValue.[RevisionNo]
,ataVariableValue.[ValueText]
,row_number() over (partition by ataUniDocument.binUdoDocId, ataUniDocument.intUdoDocRevNumber  order by ataVariableValue.[RevisionNo] desc) as afiRowNumber
from
(
select
[dbo].[VariableValue].[DocumentID]
,[dbo].[VariableValue].RevisionNo
,[dbo].[VariableValue].[ValueText]
from
[dbo].[VariableValue]
where
[VariableID] = 46
and
[dbo].[VariableValue].[ProjectID] = 2
and
[dbo].[VariableValue].ConfigurationID = 2

) as ataVariableValue
inner join
@tabUniDocument as ataUniDocument
on
ataVariableValue.[DocumentID] = ataUniDocument.binUdoDocId
and
ataVariableValue.RevisionNo <= ataUniDocument.intUdoDocRevNumber

) as ataValPropertie
where
afiRowNumber = 1

insert into @tabVauLastRevision
	(
	binVlrDocId,
	intVlrDocRevNumber,
	nvcVlrVaRevision
	)
select
ataValPropertie.binUdoDocId
,ataValPropertie.intUdoLastDocRevNumber
,ataValPropertie.[ValueText]
from
(
select
ataUniDocument.binUdoDocId
,ataUniDocument.intUdoLastDocRevNumber
,ataVariableValue.[RevisionNo]
,ataVariableValue.[ValueText]
,row_number() over (partition by ataUniDocument.binUdoDocId, ataUniDocument.intUdoDocRevNumber  order by ataVariableValue.[RevisionNo] desc) as afiRowNumber
from
(
select
[dbo].[VariableValue].[DocumentID]
,[dbo].[VariableValue].RevisionNo
,[dbo].[VariableValue].[ValueText]
from
[dbo].[VariableValue]
where
[VariableID] = 46
and
[dbo].[VariableValue].[ProjectID] = 2
and
[dbo].[VariableValue].ConfigurationID = 2

) as ataVariableValue
inner join
@tabUniDocument as ataUniDocument
on
ataVariableValue.[DocumentID] = ataUniDocument.binUdoDocId
and
ataVariableValue.RevisionNo <= ataUniDocument.intUdoLastDocRevNumber

) as ataValPropertie
where
afiRowNumber = 1


insert into @tabDescription
	(
	binDesDocId,
	intDesDocRevNumber,
	nvcDesDescription
	)
select
ataValPropertie.binUdoDocId
,ataValPropertie.intUdoDocRevNumber
,ataValPropertie.[ValueText]
from
(
select
ataUniDocument.binUdoDocId
,ataUniDocument.intUdoDocRevNumber
,ataVariableValue.[RevisionNo]
,ataVariableValue.[ValueText]
,row_number() over (partition by ataUniDocument.binUdoDocId, ataUniDocument.intUdoDocRevNumber  order by ataVariableValue.[RevisionNo] desc) as afiRowNumber
from
(
select
[dbo].[VariableValue].[DocumentID]
,[dbo].[VariableValue].RevisionNo
,[dbo].[VariableValue].[ValueText]
from
[dbo].[VariableValue]
where
[VariableID] = 68
and
[dbo].[VariableValue].[ProjectID] = 2
and
[dbo].[VariableValue].ConfigurationID = 2

) as ataVariableValue
inner join
@tabUniDocument as ataUniDocument
on
ataVariableValue.[DocumentID] = ataUniDocument.binUdoDocId
and
ataVariableValue.RevisionNo <= ataUniDocument.intUdoDocRevNumber

) as ataValPropertie
where
afiRowNumber = 1

insert into @tabTipMontaje
	(
	binTmoDocId,
	intTmoDocRevNumber,
	nvcTmoTipMotaje
	)
select
ataValPropertie.binUdoDocId
,ataValPropertie.intUdoDocRevNumber
,ataValPropertie.[ValueText]
from
(
select
ataUniDocument.binUdoDocId
,ataUniDocument.intUdoDocRevNumber
,ataVariableValue.[RevisionNo]
,ataVariableValue.[ValueText]
,row_number() over (partition by ataUniDocument.binUdoDocId, ataUniDocument.intUdoDocRevNumber  order by ataVariableValue.[RevisionNo] desc) as afiRowNumber
from
(
select
[dbo].[VariableValue].[DocumentID]
,[dbo].[VariableValue].RevisionNo
,[dbo].[VariableValue].[ValueText]
from
[dbo].[VariableValue]
where
[VariableID] = 118
and
[dbo].[VariableValue].[ProjectID] = 2
and
[dbo].[VariableValue].ConfigurationID = 2

) as ataVariableValue
inner join
@tabUniDocument as ataUniDocument
on
ataVariableValue.[DocumentID] = ataUniDocument.binUdoDocId
and
ataVariableValue.RevisionNo <= ataUniDocument.intUdoDocRevNumber

) as ataValPropertie
where
afiRowNumber = 1

-- **** unique configurations from tree 

insert into @tabUniDocConfiguration

select distinct
binTcoSonConId
from
@tabTreeComponents
union all
select distinct
binTcoDirFatConId
from
@tabTreeComponents
where
intTcoLevel = 0

insert into @tabConName
(
	binCnaDocConfId,
	nvcCnaConName
)
select
ataUniDocConfiguration.binUdcDocConfId,
[dbo].[DocumentConfiguration].[ConfigurationName]
from
[dbo].[DocumentConfiguration]
inner join
@tabUniDocConfiguration as ataUniDocConfiguration
on
ataUniDocConfiguration.binUdcDocConfId = [dbo].[DocumentConfiguration].ConfigurationID

-- **** Update vayult revision propertie 

update @tabTreeComponents
set
nvcTcoDirFatVauRevision = ataDfaVauRevision.nvcVreVaRevision,
nvcTcoSonVauRevision = ataSonVauRevision.nvcVreVaRevision
from
@tabTreeComponents as ataTreeComponents
left join
@tabVauRevision as ataSonVauRevision
on
(
ataTreeComponents.binTcoSonDocId = ataSonVauRevision.binVreDocId
and
ataTreeComponents.intTcoSonRevNumber = ataSonVauRevision.intVreDocRevNumber
)
left join
@tabVauRevision as ataDfaVauRevision
on
(
ataTreeComponents.binTcoDirFatDocId = ataDfaVauRevision.binVreDocId
and
ataTreeComponents.intTcoDirFatRevNumber = ataDfaVauRevision.intVreDocRevNumber
)

-- **** Update son last vault revision propertie 

update @tabTreeComponents
set
nvcTcoSonLastVauRevision = ataSonLastVauRevision.nvcVlrVaRevision
from
@tabTreeComponents as ataTreeComponents
left join
@tabVauLastRevision as ataSonLastVauRevision
on
(
ataTreeComponents.binTcoSonDocId = ataSonLastVauRevision.binVlrDocId
and
ataTreeComponents.intTcoSonLastRevNumber = ataSonLastVauRevision.intVlrDocRevNumber
)



-- **** Update Description propertie

update @tabTreeComponents
set
nvcTcoDirFatDescription = ataDfaDescription.nvcDesDescription,
nvcTcoSonDescription = ataSonDescription.nvcDesDescription
from
@tabTreeComponents as ataTreeComponents
left join
@tabDescription as ataSonDescription
on
(
ataTreeComponents.binTcoSonDocId = ataSonDescription.binDesDocId
and
ataTreeComponents.intTcoSonRevNumber = ataSonDescription.intDesDocRevNumber
)
left join
@tabDescription as ataDfaDescription
on
(
ataTreeComponents.binTcoDirFatDocId = ataDfaDescription.binDesDocId
and
ataTreeComponents.intTcoDirFatRevNumber = ataDfaDescription.intDesDocRevNumber
)

-- **** Update tipo de montaje propertie

update @tabTreeComponents
set
nvcTcoTipMontaje = ataSonTipMontaje.nvcTmoTipMotaje
from
@tabTreeComponents as ataTreeComponents
left join
@tabTipMontaje as ataSonTipMontaje
on
(
ataTreeComponents.binTcoSonDocId = ataSonTipMontaje.binTmoDocId
and
ataTreeComponents.intTcoSonRevNumber = ataSonTipMontaje.intTmoDocRevNumber
)


-- **** update kardex propertie

update @tabTreeComponents
set
nvcTcoKardex = ataDocKardex.nvcDkaKardex
from
@tabTreeComponents as ataTreeComponents
left join
@tabDocKardex as ataDocKardex
on
ataTreeComponents.binTcoSonDocId = ataDocKardex.binDkaDocId
and
ataTreeComponents.binTcoSonConId = ataDocKardex.binDkaConId
and
ataTreeComponents.intTcoSonRevNumber = ataDocKardex.intDkaDocRevNumber

-- **** update configuration name propertie

update @tabTreeComponents
set
nvcTcoDirFatConName = ataDirFatConName.nvcCnaConName,
nvcTcoSonConName =  ataSonConName.nvcCnaConName
from
@tabTreeComponents as ataTreeComponents
left join
@tabConName as ataSonConName
on
(
ataTreeComponents.binTcoSonConId = ataSonConName.binCnaDocConfId

)
left join
@tabConName as ataDirFatConName
on
(
ataTreeComponents.binTcoDirFatConId = ataDirFatConName.binCnaDocConfId

)

insert into @tabCutListProperties
	(
	binClpSonDocId,
	nvcClpSonName,
	binClpSonConId,
	nvcClpSonConName,
	nvcClpSonVauRevision	
	)
select distinct
binTcoSonDocId,
	nvcTcoSonName,
	binTcoSonConId,
	nvcTcoSonConName,
	nvcTcoSonVauRevision
from
@tabTreeComponents
where
intTcoSonFilExtension = 5
and
nvcTcoSonVauRevision is not null
and
nvcTcoSonConName is not null
and
nvcTcoSonName is not null
and
nvcTcoKardex is null

update @tabCutListProperties
set
	nvcClpSonMaterial =ataTxtImportOld.[Material] ,
	decClpThickness =ataTxtImportOld.[Espesor],
	decClpWidth =ataTxtImportOld.[Ancho],
	decClpLong =ataTxtImportOld.[Largo],
	decClpEfeArea =ataTxtImportOld.[Area_efec],
	decClpLenCut =ataTxtImportOld.[Long_corte],
	binClpBendQuantity =ataTxtImportOld.[Dobleces],
	binClpPunQuantity =ataTxtImportOld.[Punzonados],
	binClpTxtImpOldId = ataTxtImportOld.iD
from
@tabCutListProperties as ataCutListProperties
inner join
(
select

[dbo].[txt_import_OLD].[Material] ,
	[dbo].[txt_import_OLD].[Espesor],
	[dbo].[txt_import_OLD].[Ancho],
	[dbo].[txt_import_OLD].[Largo],
	[dbo].[txt_import_OLD].[Area_efec],
	[dbo].[txt_import_OLD].[Long_corte],
	[dbo].[txt_import_OLD].[Dobleces],
	[dbo].[txt_import_OLD].[Punzonados],
	[dbo].[txt_import_OLD].Rev_Vault,
	[dbo].[txt_import_OLD].intDocumentId,
	[dbo].[txt_import_OLD].intConfigurationId,
	[dbo].[txt_import_OLD].iD
from
[dbo].[txt_import_OLD]
where
[dbo].[txt_import_OLD].intDocumentId is not null
and
[dbo].[txt_import_OLD].intConfigurationId is not null
) as ataTxtImportOld
on
(
ataTxtImportOld.intDocumentId = ataCutListProperties.binClpSonDocId
and
ataTxtImportOld.intConfigurationId = ataCutListProperties.binClpSonConId
and
ataTxtImportOld.Rev_Vault = ataCutListProperties.nvcClpSonVauRevision
)

delete @tabCutListProperties
from
@tabCutListProperties
where
binClpTxtImpOldId is null

update @tabTreeComponents
set
	nvcTcoSonMaterial=nvcClpSonMaterial,
	decTcoThickness=decClpThickness,
	decTcoWidth=decClpWidth,
	decTcoLong=decClpLong,
	decTcoEfeArea=decClpEfeArea,
	decTcoLenCut=decClpLenCut,
	binTcoBendQuantity=binClpBendQuantity,
	binTcoPunQuantity=binClpPunQuantity
from
@tabTreeComponents as ataTreeComponents
inner join
@tabCutListProperties as ataCutListProperties
on
ataTreeComponents.binTcoSonDocId = ataCutListProperties.binClpSonDocId
and
ataTreeComponents.binTcoSonConId = ataCutListProperties.binClpSonConId
and
ataTreeComponents.nvcTcoSonVauRevision = ataCutListProperties.nvcClpSonVauRevision


select
*
from
@tabTreeComponents


	if @bit_tran_count = 1
			BEGIN
				COMMIT
			END
	
	SET @opar_nvc_error = @opar_nvc_error + 'Stored Procedure ejecuted O.K; '
	select @opar_bit_if_error = 1
	end try

	begin catch
			print 'bit_tran_count in catch is ' + convert(nvarchar(10), @bit_tran_count)
			if @bit_tran_count = 1
			BEGIN
				ROLLBACK
			END
			SET CONCAT_NULL_YIELDS_NULL OFF

			select @opar_nvc_error = @opar_nvc_error +  'Error in try statement number: ' + convert( nvarchar(10), ERROR_NUMBER() ) + '. Severity: ' + convert(nvarchar(10), ERROR_SEVERITY())  + '. State: '+ convert(nvarchar(10),ERROR_STATE()) + '. Procedure: '  
			+  ERROR_PROCEDURE() + '. Line: ' + 
			convert(nvarchar(10),ERROR_LINE()) + '. Messsage: '  
			+ ERROR_MESSAGE()
		
			set @opar_bit_if_error = 1 -- error in try statment						
	end catch 
end

END
